@font-face{
	font-family: "Oneday";
	src: url("Fonts/OneDayFF/Oneday.ttf")
}


#crypto,{
	padding-top:50px;
	margin-top:-50px;
}
#blockchain{
	padding-top:50px;
	margin-top:-50px;
}

#steem{
	padding-top:50px;
	margin-top:-50px;
}

button.prog{

	width:10em;
	height:10em;
	border:none;
	border-radius:1em;
	background-size:100%;
	background-color: #fdf5e6;
}
button.prog:hover{
	box-shadow:0.3em 0.3em gray;
	border:groove
	
}

div.buttonCont{
	display: flex;
	justify-content:space-around;
	
}

.languageDiv{
	padding-left:3em;
	padding-right:3em;
	padding-top:7em;
	padding-bottom:7em;
}

p{
    font-family:Montserrat,sans-serif;
}

.developers h1{
	color: darkgreen;
	text-shadow:0.1em gray;
	font-weight:bold;
}

hr{
	border-color:darkgreen;
	border-radius:100px;
	
}
#Title{
	font-family: "OneDay";
	src: url("Fonts/OneDayFF/Oneday.ttf")
}
.area{
    height: 100px;
    width: 100px;
    background: red;
    margin:10px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
#Searchb{
   border:solid;
   border-width:0.15em;
   border-color:#ff9800;
   border-radius:1.5em;
   margin:1em;
   width:15%;
   height:2.5em;
   display:flex;
   align-items:center;
   background-color:#ff9800;
}
#Loginb{
	float:right;
	border:solid;
	border-width:0.15em;
	border-color:#ff9800;
	border-radius:1.5em;
	margin:1em;
	width:15%;
	height:2.5em;
	display:flex;
	align-items:center;
}
#Search{
	margin:0.5em;
	border:solid;
	border-width:0.15em;
	border-color:white;
	height:2.5em;
	width:65%;
	float:right;
	border-radius:1.5em;
}
#Filters{
	width:100%;
	display:flex;
	align-items:center;
	padding-left:1.5em;
	padding-right:1.5em;
}
#Nameb{
	height:2.5em;
	width:45%;
	display:flex;
	align-items:center;
}
#Authorb{
	height:2.5em;
	width:35%;
	display:flex;
	align-items:center;
}
 #Downloadedb{
	 height:2.5em;
	 width:20%;
	 display:flex;
	 align-items:center;
 }
 #Programs{
}
a{
	text-decoration:none;
}
.appDiv{
	margin:1em;
	display:flex;
	align-items:center;
	border:none;
	border-radius:1.75em;
	height:3.5em;
	border-color:#ff9800;
	border-width:0.15em;
}

.nameDiv{
	width:45%;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
	border-color:#ff9800;
	text-align:center;
	color:black;
	background-color:#ff9800;
}

.authorDiv{
	width:35%;
	text-align:center;
	background-color:orange;
	color:black;
	border-left:solid;
	border-right:solid;
	border-width:0.3em;
}
#Marketplace h2{
	font-family:Montserrat,sans-serif;
	font-size:1.5em;
}
.downloadedDiv{
	width:20%;
	border-top-right-radius:3em;
	border-bottom-right-radius:3em;
	text-align:center;
	background-color:#ff9800;
	color:black;
}
#Searchboxdiv{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
