@font-face{
	font-family: "Oneday";
	src: url("Fonts/OneDayFF/Oneday.ttf")
}


#crypto,{
	padding-top:50px;
	margin-top:-50px;
}
#blockchain{
	padding-top:50px;
	margin-top:-50px;
}

#steem{
	padding-top:50px;
	margin-top:-50px;
}

button.prog{

	width:10em;
	height:10em;
	border:none;
	border-radius:1em;
	background-size:100%;
	background-color: #fdf5e6;
}
button.prog:hover{
	box-shadow:0.3em 0.3em gray;
	border:groove
	
}

div.buttonCont{
	display: flex;
	justify-content:space-around;
	
}

.languageDiv{
	padding-left:3em;
	padding-right:3em;
	padding-top:7em;
	padding-bottom:7em;
}

p{
    font-family:Montserrat,sans-serif;
}

.developers h1{
	color: darkgreen;
	text-shadow:0.1em gray;
	font-weight:bold;
}

hr{
	border-color:darkgreen;
	border-radius:100px;
	
}
#Title{
	font-family: "OneDay";
	src: url("Fonts/OneDayFF/Oneday.ttf")
}
.area{
    height: 100px;
    width: 100px;
    background: red;
    margin:10px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}​
#Searchb, #Loginb{
    font-family:Montserrat,sans-serif;
}
a{
	text-decoration:none;
}
.appDiv{
	margin:1em;
	display:flex;
	justify-content:space-around;
}

.nameDiv{
	width:45%;
	border-top-left-radius:3em;
	border-bottom-left-radius:3em;
	border-top:solid;
	border-bottom:solid;
	border-left:solid;
	text-align:left;
	border-width:0.15em;
	border-color:#3E8914;
	padding-left:1em
}

.authorDiv{
	width:35%;
	border-top:solid;
	border-bottom:solid;
	text-align:left;
	border-width:0.15em;
	border-color:#3E8914;
	padding-left:1em
}
#Marketplace h2{
	font-family:Chivo,sans-serif;
	color:black;
}
.downloadedDiv{
	width:20%;
	border-top:solid;
	border-bottom:solid;
	border-right:solid;
	border-top-right-radius:3em;
	border-bottom-right-radius:3em;
	text-align:left;
	border-width:0.15em;
	border-color:#3E8914;
	padding-left:1em
}